%ul.reasons
  %li.quality
    %h4 Quality assurance
    %p Absolute highest quality fabric. No fakes.
  %li.delivery
    %h4 Next day delivery
    %p Order before 4pm and your order will be with you the next business day.