- active_nav_item :faqs
- @page_title = 'Frequently asked questions'
.content
  %h2 Frequently asked questions
  %p
  %h3 Why are the Clothes only ONE SIZE!!!?
  %p Ok this is ofcourse the biggest problem but one I am looking to eliminate by increasing my business, partly the reason I set up this website!
  %h3 I bought an item and it doesnt fit, can I return it?
  %p Yes ofcourse! If you send it back with the confirmation email and receipt then I will refund, no problem.
  %h3 Do you ship to Europe?
  %p I am afraid not, I am intriqued by how you got to this website if you are from Europe.. However there are many reputable european vendors selling similar brands albeit at a higher price.
