- @page_title = 'Returns Policy'
.content
  %h2 Returns Policy
  %p We know and understand that most of the time returning products is a big hassle. In an effort to, "not be like the other guys" we have created a very straight forward and transparent returns policy so that returning a product to us is simple and easy.
  
  %h3 If your product does not fit:
  %p This doesn't happen often, but if it has, you are eligible for an automatic return. Please call or email. We will cover the cost of shipping out the replacement product. (Note: If the product you return is deemed to be working, you will be charged a $20 USD testing fee.)
  %p You will be responsible for the cost of return shipping. We will cover the cost of shipping out the replacement product. (Note: If the product you return is deemed to be working, you will be charged a $20 USD testing fee.)