- active_nav_item :why
- @page_title = 'Why shop with us?'
.content
  %h2 Why shop with us?
  %p I aim to provide the best of the best in men and womenswear to the US. I look for the hottest in styles that are hard to come by over here.
  %p By combining this with next day delivery across the country and secure payments I provide an ideal service for those looking to look good.
